<div *ngIf="errormessage.message" class="alert alert-{{errormessage.class}} alert-dismissible" role="alert">
    <button *ngIf="errormessage.class === 'danger'" type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="clearError()">
      <span aria-hidden="true">×</span>
    </button>
    <i class="fa fa-check-circle"></i> {{ errormessage.message }}
</div>

<h4 class="control-label">Define a New Survey Form:</h4>

<form novalidate [formGroup]="surveyForm" (ngSubmit)="save(surveyForm.value, surveyForm.valid)">

    <div class="panel panel-info" style="margin-top: 10px">
        <div class="panel-body">
            <label class='control-label'>
                <input size="60"
                       class="form-control"
                       formControlName='survey_title'
                       placeholder="Survey Title">
            </label>
        </div>
    </div>

    <div class="panel panel-info panel-body">
        <div formArrayName="questions"
             *ngFor="let question of surveyForm.controls.questions['controls']; let q = index">
            <br>
            <div [formGroupName]="q">
                <label class="control-label">
                    <input size="60"
                           class="form-control"
                           formControlName="question_data"
                           placeholder="Question {{q + 1}}">
                </label>

                <div formArrayName="options"
                     *ngFor="let option of question.controls.options?.controls; let o = index">
                    <div [formGroupName]="o">
                        <label class="control-label">
                            <input size="35" class="form-control"
                                   formControlName="option_data"
                                   placeholder="Option {{o + 1}}">
                        </label>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-info"
                    (click)="addOption(q)"
                    [disabled]="!question.valid">
                +Option
            </button>
        </div>
        <br>
        <br>
        <button type="button" class="btn btn-info"
                (click)="addQuestion()"
                [disabled]="!surveyForm.valid">
            +Question
        </button>
        <br>
    </div>

    <div class="row">
        <div class="col-md-1">
            <button type="submit" class="btn btn-success" [disabled]=!surveyForm.valid||submitted>
                Submit
            </button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-warning"
                    (click)="submitted=false; surveyForm.reset(); errormessage.message=null">
                Clear
            </button>
        </div>
    </div>

    <br>
    <br>
    <div class="margin-20" *ngIf="debug" style="width:80%">
        <div>surveyForm details:-</div>
        <pre *ngIf="submitted">submitResponse: <br>{{submitResponse | json}}</pre>
        <!--<pre>submitResponse: <br>{{submitResponse | json}}</pre>-->
        <pre>Is surveyForm valid?: <br>{{surveyForm.valid | json}}</pre>
        <pre>Is surveyForm submitted?: <br>{{submitted | json}}</pre>
        <pre>surveyForm value: <br>{{surveyForm.value | json}}</pre>
        <div class="margin-20">
            Form changes:
        </div>
        <div *ngFor="let event of events" class="margin-20">
            <pre> {{ event | json }} </pre>
        </div>
    </div>

</form>
